<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Checkout Page</title>
<style>
       body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5ebe0;
}

header {
    background: #74462e;
    color: #fff;
    padding: 18px 40px;
    font-size: 25px;
    font-weight: bold;
}

.container {
    display: flex;
    gap: 40px;
    padding: 40px;
}
</style>
</head>

<body>
<header>CHECKOUT</header>

<div class="container">

<div class="CheckOutDetails">
<div class="PersonalDetails">
<div class="section-title">Delivery Details</div>

<div class="form-group">
<p id="DescriptionTitle">Full Name</p>
<input type="text">
</div>

<div class="form-group">
<p id="DescriptionTitle">Email</p>
<input type="email">
</div>

<div class="form-group">
<p id="DescriptionTitle">Phone Number</p>
<input type="email" placeholder="Optional">
</div>

<div class="form-group">
<p id="DescriptionTitle">Address</p>
<input type="text">
</div>

<div class="form-group">
<p id="DescriptionTitle">City</p>
<input type="text">
</div>

<div class="form-group">
<p id="DescriptionTitle">Country</p>
<input type="text">
</div>
</div>
<div class="PaymentInformation">
    <div class="section-title">Payment Type</div>
</div>
</div>

<div class="ItemsSummary">
<div class="section-title">Your Bag</div>

<div class="product">
<img src="">
<div class="product-details">
<div class="product-name">Oversized Hoodie</div>
<div>Qty: 1</div>
<div class="product-price">£40</div>
</div>
</div>


<div class="summary-row">
<p>Subtotal</p>
<p>£40</p>
</div>

<div class="summary-row">
<p>Delivery</p>
<p>£3.99</p>
</div>

<div class="summary-row total">
<p>Total</p>
<p>£43.99</p>
</div>

<button class="checkout-btn">PLACE ORDER</button>
</div>

</div>
</body>
</html>
